<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Junction Asia Project</title>

        <!-- Bootstrap -->
        <link href='styles/font.css' rel='stylesheet' type='text/css'>
        <style>
            html, body, p {
              margin: 0px;
            }
            div.left{
                display: inline-block;
                text-align:left;
                font-family: 'Work Sans', sans-serif;
                font-size: 20px;
                padding: 10px 20px;
            }
            div.right{
                float: right;
                display: inline-block;
                text-align:right;
                font-family: 'Work Sans', sans-serif;
                font-size: 20px;
                padding: 10px 20px;

            }
            img.icon{
                position:absolute;
                top:110px;
                right:60px;
                width:100px;
                height:100px;
            }
            img.indicate{
                height:150px;
                padding: 50px 30px; 
            }
            img.modes{
                position:absolute;
                right:60px;
                top:230px;
                width:230px;
            }
            div.top {
                position: relative;
                width: 100%;
                height: 100%;
                border: none;
                background-color:rgb(255,230,105);
            } 
            p#header{
                font-family: 'Work Sans', sans-serif;
                font-size:20px;
                padding: 10px 40px;
            }
            p#temp{
                position:absolute;
                top:33px;
                border: none;
                color: black;
                padding:50px 5px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 200px;
                font-family: 'Jura', sans-serif;
                margin: 5px 2px;

            }
            ul{
                list-style-type: none;
                background-color:rgb(250,250,250);
                padding: 0px;
                margin: 0px;
                font-size:15px;

            }

            li:hover {
                background-color:rgb(255,255,224);
                color: black;
            }
        </style> 
    </head>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/moment.js"></script>

    <script type="text/javascript">

        MODE_INDEX = 2;

        $(function() {

            var addItem = function(content) {
                var currentDateTime = moment().format('YYYY-MM-DD hh:mm');
                var left = $('<div>').attr('class', 'left').text(currentDateTime);
                var right = $('<div>').attr('class', 'right').text(content);
                var inf = $('<li>').append(left).append(right);

                inf.hide().prependTo('ul').fadeIn('slow');
                if ($('ul li').length > 7) {
                    $('ul li:last-child').remove();
                }
            }

            io.socket.on('change', function gotHelloMessage (data) {
                console.log(data);
                var changeToTemp = data['temp'];
                var icon = data['icon']; // cool
                if (icon) {
                    $('img.icon').attr('src', '/images/' + icon + '.png');
                }
                if (changeToTemp) {
                    $('#temp').text(changeToTemp+'°C');
                }
            });

            var MODE = [
                'COOL', 'MOISTURE', 'DEFAULT', 'FAN', 'HEAT'
            ];

            io.socket.on('switch', function(data) {
                var mode = data['mode'];
                var name = data['name'] || 'YIAN';
                if (mode === 'next') {
                    MODE_INDEX = (MODE_INDEX + 1) % MODE.length;
                } else if (mode === 'prev') {
                    MODE_INDEX = (MODE_INDEX + MODE.length - 1 ) % MODE.length; 
                } else if (mode === 'game') {
                    $('div.top').css('background-color', 'rgb(110,245,189)')
                    $('#temp').text('GAME MODE');
                    $('img.icon').remove();
                    $('img.modes').remove();
                    $('#header').text('AIR CONDITIONER @ CRAZY THEATER')
                } else {
                    mode = parseInt(mode);
                    if (isNaN(mode) == false && mode >=0 && mode <MODE.length) {
                        MODE_INDEX = mode;
                    }
                } 
                $('img.icon').attr('src', '/images/' + MODE[MODE_INDEX] + '.png');
                addItem(name + '/switch mode to ' + MODE[MODE_INDEX]);
            });

            io.socket.on('temp', function(data) {
                var currentTemp =
                    parseInt($('#temp').text().trim().replace('°C',''));
                var adjust = parseInt(data['adjust']);
                var name = data['name'] || 'YIAN';
                if (adjust == undefined || adjust == null || isNaN(adjust))
                    adjust = 0;
                currentTemp += adjust
                $('#temp').text(currentTemp+'°C');
                addItem(name + '/temperature: ' + adjust);
            });

            $('#temp').bind("DOMSubtreeModified",function(){
                var temp = $('#temp').text().replace('°C', '');
                temp = parseInt(temp);
                if(temp===25)
                    $('div.top').css('background-color', 'rgb(177,245,110)')
                else if(temp===24)
                    $('div.top').css('background-color', 'rgb(110,245,189)')
                else if(temp===23)
                    $('div.top').css('background-color', 'rgb(60,240,225)')
                else if(temp<=22)
                    $('div.top').css('background-color', 'rgb(60,190,240)')
                else if(temp===26)
                    $('div.top').css('background-color', 'rgb(255,230,105)')
                else if(temp===27)
                    $('div.top').css('background-color', 'rgb(255,190,105)')
                else if(temp===28)
                    $('div.top').css('background-color', 'rgb(255,140,105)')
                else if(temp===29)
                    $('div.top').css('background-color', 'rgb(255,105,105)')
                else if(temp>=30)
                    $('div.top').css('background-color', 'rgb(225,75,75)')
            });
        });

    </script>
    <body>
        <div class="top">
            <p id="header">AIR CONDITIONER @ COZY THEATER</p>
            <img class="indicate" src="/images/INDICATE.png"></img>
            <p id="temp"> 26°C </p>

            <img class="icon" src="/images/COOL.png"></img>
            <img class="modes" src="/images/MODES.png"></img>

            <ul>
                <li>
                <div class="left">2016-05-07  14:23</div>
                <div class="right">YIAN / COOL</div>
                </li>
            </ul>
        </div>
    </body>
</html>
